/** 
* Items styles
*/

@use '../utilities/colors.scss';

$wordpress-blue: hsl(199, 100%, 33%);
$wordpress-blue-light: hsl(199, 100%, 40%);


.items-wrapper {
  border: 1px solid#ddd;
  padding: 0 0 3px 0;
  border-radius: 4px;

  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; // για smooth scrolling σε iOS

  // Hide on mobiles
  @media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
  }

  /**
   * Top section 
   */

  // Wrapper των add new button, checkboxes, search box
  #items-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 0.3rem;
    padding: 6px 0 6px 0;
    width: 100%;
    font-size: small;
  }

  // New button + download pdf
  #items-new-button {
    flex: 0 0 auto;
  }

  // Τα checkboxes
  #items-checkboxes {
    flex: 1 1 auto;
    min-width: 250px;
    text-align: center;
  }

  // Search box
  #items-search-bar {
    flex: 1 1 auto;
    position: relative;
  }

  .button-clear-inside {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: #999;

    &:hover {
      background: red;
      color: #fff !important;
    }
  }

  // Search input box
  .search-bar {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  // Grid version
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    /* Μπορείς να το προσαρμόσεις */
    min-width: 600px;
    /* Μπορείς να το αλλάξεις για καλύτερο responsive */
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }

  .table-header {
    font-weight: bold;
    background-color: #eaeaea;
  }

  .header-cell,
  .body-cell {
    padding: 10px;
    border-right: 1px solid #ddd;
  }

  .header-cell:last-child,
  .body-cell:last-child {
    border-right: none;
  }

  .table-row:nth-child(even) {
    background-color: #fafafa;
  }

  .table-row:nth-child(odd) {
    background-color: #fafafa;
  }

  .active-row {
    background-color: #e0ffe0 !important;
  }

  .sortable {
    cursor: pointer;
  }



  // Table version
  table {

    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: nowrap;

    th,
    td {
      vertical-align: middle;
      font-size: 1em;
      padding: 0.75rem;
      border: 1px solid #ccc;
      text-align: left;
    }

    th {
      text-align: center;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 20%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 30%;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 25%;
    }

    th,
    td {
      width: auto;
    }

    /* Κρύβουμε πεςριττές στήλες στα κινητά */
    // @media (max-width: 600px) {

    //   // Τηλέφωνο, Αctive
    //   th:nth-child(3),
    //   td:nth-child(3),
    //   th:nth-child(4),
    //   td:nth-child(4) {
    //     display: none;
    //   }
    // }
  }

  .button-add-new {
    background: $wordpress-blue;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $wordpress-blue-light;
    }
  }

  // Η γραμμή που είναι active (checkbox on)
  .active-row {
    background-color: hsl(120, 100%, 92%); // Απαλό μπλε (WordPress style)
    // font-weight: bold; // Κάνει το κείμενο πιο εμφανές
  }


  .active-filter {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;

    input {
      cursor: pointer;
    }

  }

  .sortable-column-header {
    cursor: pointer;
    user-select: none;

    &:hover {
      color: #0073aa;
    }
  }

  .button-expand {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #0073aa;
    transition: transform 0.2s;

    &:hover {
      color: #005f87;
    }
  }

  #action-buttons {

    text-align: center;
  }

  button {
    // display: flex;
    align-items: center;
    // gap: 5px; // Απόσταση μεταξύ εικονιδίου & κειμένου
    font-size: 14px;
    padding: 6px 12px;
    margin-right: 5px;
    border: none !important;
    cursor: pointer;
    color: white !important;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: hsl(59, 95%, 59%);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    // Edit button
    &.button-edit,
    &.button-add {
      background-color: colors.$button-edit-background-color;

      &:hover {
        background-color: colors.$button-edit-hover-background-color
      }
    }

    // Save button
    &.button-save {
      background-color: colors.$button-save-background-color;

      &:hover {
        background-color: colors.$button-save-hover-background-color;
      }
    }

    //Cancel button
    &.button-cancel {
      background-color: colors.$button-cancel-background-color;

      &:hover {
        background-color: colors.$button-cancel-hover-background-color;
      }
    }

    //Delete button
    &.button-delete {
      background-color: colors.$button-delete-background-color;
      color: white;

      &:hover {
        background-color: colors.$button-delete-hover-background-color;
      }
    }
  }

}