/** 
* Buttons
*/

$button-edit-background-color: hsl(199, 100%, 33%);
$button-edit-hover-background-color: hsl(199, 100%, 40%);
$button-save-background-color: hsl(134, 61%, 41%);
$button-save-hover-background-color: hsl(134, 61%, 48%);
$button-cancel-background-color: hsl(208, 7%, 46%);
$button-cancel-hover-background-color: hsl(208, 7%, 53%);
$button-delete-background-color: hsl(354, 70%, 54%);
$button-delete-hover-background-color: hsl(354, 70%, 63%);

$wordpress-blue: hsl(199, 100%, 33%);

$wordpress-blue1: #14532D;