.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.137);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;

  p {
    font-size: 16px;
    margin-bottom: 15px;
  }

}



.confirm-actions {
  button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }

  button:first-child {
    background: #28a745;
    color: white;

    &:hover {
      background: hsl(134, 61%, 51%);
    }
  }

  button:last-child {
    background: #dc3545;
    color: white;

    &:hover {
      background: hsl(354, 70%, 63%);
      ;
    }
  }
}